@{
    ViewData["Title"] = "Home Page";
}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="text-center">
            <h1 class="display-4"><img src="~/png/beaverNetLogo.png" height="100"/><br />beaverNet</h1>
            <p class="lead">Big solutions for small business.</p>
        </div>
    </div>
</div>
