<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="text-center">
            <h1 class="display-4"><img src="~/img/beaverNetLogo100px.png"/><br />User Management</h1>
            <p class="lead">Wellcome, @User.Identity.Name, to the user administration site.</p>
        </div>
    </div>
</div>
